#root {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
