.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  position: relative;
  &__logo {
    width: 2.25rem;
    display: flex;
  }
  &::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
  }
  @media (min-width: 768px) {
    justify-content: unset;
    gap: 1rem;
  }
}
